@font-face {
    font-family: "Jalnan";
    src: url("../fonts/Jalnan.ttf") format("truetype");
    font-weight: 700;
}
:root{
    --main-color:#3180DD
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' -25,
    'opsz' 48
}

h1,h2,h3{font-family: "Jalnan", serif;}
/* 더보기 */
.more{display: block; width:20px; height:20px; position: absolute; right:25px; top:25px; text-indent: -99999px; background:url('../image/add.png') center center no-repeat;}
#main-f1{width:100%; padding:45px 0; position: relative;}
.slick-arrow{position:absolute; top:50%; transform: translateY(-50%); text-indent:-9999px; z-index: 10; background-position: center; background-repeat: no-repeat;}

.top_cont{display: flex; justify-content: space-between; align-items: stretch; padding-bottom:30px;}
.top_cont .l_cont{width: calc(100% - 480px); border-radius: 20px; overflow: hidden; position: relative;}
.l_cont .main_slider{height:100%; overflow: hidden; position: relative;  background-color:pink;}
/* slick-arrow */
.l_cont .main_slider .slick-arrow{
    width:40px;
    height:70px;
    font-size:50px;
    background-color:rgba(10, 55, 122, 0.3);
    filter: invert(99%) sepia(1%) saturate(1454%) hue-rotate(197deg) brightness(122%) contrast(97%);
}
.l_cont .main_slider .slick-prev{left:0; background-image: url('../image/arrow1_1.png'); }
.l_cont .main_slider .slick-next{right:0; background-image: url('../image/arrow1.png');}
/* controler */
/* dots_custom */
.l_cont .controler{position: absolute; bottom:25px; left:50%; transform: translateX(-50%); }
.l_cont .controler #dots{float:left; height:24px; margin-right:5px;}
.l_cont .controler .dots_custom{height:100%; display: flex; align-items: center; gap:10px;}
.l_cont .controler .dots_custom li button{width:12px; height:12px; border-radius: 50%; background-color: #fff; float:left; text-indent: -9999px;}
.l_cont .controler .dots_custom li.slick-active button{width:18px; height:18px;}
.l_cont .controler .dots_custom li:nth-child(1){margin-left:0;}
.l_cont .controler >button >span{color:#fff;}
.top_cont .r_cont{width:445px; display: flex; flex-direction: column; gap:30px;}
.top_cont .r_cont >div{padding:20px;  border-radius: 20px; background-color:#fff; box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);}
.top_cont .r_cont >div>h3{font-size:18px; }
.r_cont .m_ranking >p {font-size:15px; color:var(--main-color); padding-bottom:10px;}
.r_cont .rank_slide{width:100%;}
.r_cont .rank_slide .slide{padding:2px;}
.r_cont .rank_slide .slide >div{padding:10px; background-color:#F5F5F5; border-radius: 10px; font-size:15px; letter-spacing: -0.03em;}
.r_cont .rank_slide .slide >div >span:nth-child(1){
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size:13px; width:20px;
    height:20px; line-height:15px;
    border-radius: 50%;
    background-color:#fff;
}
.r_cont .rank_slide .slide >div >span:nth-child(3){
    display: inline-block;
    width:20px;
    height:20px;
    background-image: url('../image/arrow_upward.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    vertical-align: text-bottom;
    filter: invert(39%) sepia(56%) saturate(6352%) hue-rotate(345deg) brightness(91%) contrast(121%);
}
.r_cont .rank_slide .slide >div >span.dw{
    transform: rotate(180deg);
    filter: invert(40%) sepia(84%) saturate(730%) hue-rotate(180deg) brightness(93%) contrast(89%);
}
.r_cont .rank_slide .slick-prev{width:10px; left:-10px; background-image: url("../image/arrow2_1.png"); }
.r_cont .rank_slide .slick-next{width:10px; right:-10px; background-image: url("../image/arrow2.png");}

/* 맞춤정책 검색 */
.r_cont .tit{display: flex;align-items: flex-end; gap:10px; padding-top:10px; padding-bottom: 20px; position: relative;}
.r_cont .tit .bg_img{position: absolute; right:0; bottom:0;}
.r_cont .select_box select{
    width: 100%;
    border:1px solid #E6E2E3;
    padding:10px 15px;
    border-radius: 10px;
    margin-bottom:10px;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    position: relative;
    background:url('../image/arrow_drop_down.svg') right center no-repeat;
    background-size:40px;
}
.r_cont .select_box p{text-align: center; padding-bottom:10px;}
.r_cont .select_box input{border:0; padding:10px 20px; background-color:var(--main-color); color:#fff; border-radius: 20px;}

#main-f1 .bott_cont{width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: stretch;}
.bott_cont >div{width:445px; padding:25px; border-radius: 15px; background-color:#fff; box-shadow: 2px 2px 3px rgba(235, 235, 235, 0.8); border:1px solid #F3F3F3; position: relative;}
.bott_cont >div >h3{font-size:22px; padding-bottom:10px;}
/* 공지사항 */
.bott_cont .cont_b1 ul{padding:15px 0;}
.bott_cont .cont_b1 li{padding:5px 0; border-bottom:1px dashed #E4E2E3;}
.bott_cont .cont_b1 li:nth-child(1){padding-top:0;}
.bott_cont .cont_b1 li >a{width: 100%; color:#333;}
.bott_cont .cont_b1 li >a >p{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.bott_cont .cont_b1 li .dateline{color:#969696; font-size:0.8em;}
/* 충남청년의 pick */
.bott_cont .cont_b2 >h3 >span{color:var(--main-color); font-size:20px; }
.bott_cont .cont_b2 ul{display: flex; flex-wrap: wrap; flex-direction: row; align-items: stretch; gap:7px; padding:15px 0; height: 95%;}
.bott_cont .cont_b2 li{ flex:1 1 40%; }
.bott_cont .cont_b2 li a{
    width: 100%;
    height:100%;
    padding:20px 30px;
    text-align: center;
    border:1px solid #E6E2E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bott_cont .cont_b2 li a .img_box{width:55px; margin:0 auto;}
.bott_cont .cont_b2 li a .txt_box{padding-top:10px;}
/* 캘린더 */
.bott_cont .cont_b3 .calTitle{position: absolute; left:25px; top:25px; display: flex; align-items:center; gap:5px; font-weight: 700;}
.bott_cont .cont_b3 .calTitle >p{font-size: 40px; line-height:40px;}
.bott_cont .cont_b3 .calTitle >div >span{font-size:13px; color:#969696; line-height: 13px; padding-top:5px;}
.bott_cont .cont_b3 .calTitle .tit{font-size:15px;  font-family: 'Noto Sans KR', sans-serif;}

.fc .fc-button{padding:0; background-color:transparent; border:0;}
.fc .fc-button-primary:hover,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{background-color: transparent;}
.fc-icon-chevron-left::before{content:''; display: block; width:20px; height:20px; background:url('../image/calArrow1_1.png') center center no-repeat; margin:0 auto; }
.fc-icon-chevron-right::before{content:''; display: block; width:20px; height:20px; background:url('../image/calArrow1_2.png') center center no-repeat; margin:0 auto; }
.fc-scroller {overflow-y: hidden !important;}
.fc-theme-standard .fc-scrollgrid{border:0;}
/* table header */
.fc-col-header {background-color:#E5EFF8; border-radius: 15px;}
.fc .fc-col-header-cell-cushion{font-weight: 400;}
.fc .fc-toolbar.fc-header-toolbar{margin-bottom:15px; margin-top:10px;}
/* table body */
.fc-theme-standard td, .fc-theme-standard th{padding:0; border:0;}
.fc .fc-daygrid-day.fc-day-today{background-color:transparent; color:#fff;}
.fc .fc-daygrid-day-frame{height:35px; display: flex; flex-direction: column-reverse;  align-items: center; justify-content: center;}
.fc .fc-daygrid-day-top{justify-content: center; height:18px; position: relative;}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-top::before{
    content: '';
    display:  block;
    width:45px;
    height:45px;
    background-color:var(--main-color);
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{max-width:36px; height:12px; min-height: 10px; padding-top:2px; display: flex; align-items: center;
    justify-content: center; gap:3px; overflow: hidden;}
.fc .fc-daygrid-event-harness{ cursor: pointer;}
.fc .fc-daygrid-event-harness-abs{position:static; z-index: 98;}
.fc .fc-daygrid-day-number{font-size:13px; padding:2px;}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
    width:8px;
    height:8px;
    border-radius: 50%;
    text-indent: -9999px;
    border:0;
    margin:0;
}
.fc-daygrid-event-dot{margin:0;}
.fc .fc-daygrid-event-harness:nth-child(1) .fc-daygrid-event-dot{border-color:#FE8069;}
.fc .fc-daygrid-event-harness:nth-child(2) .fc-daygrid-event-dot{border-color:#6523C1}


.fc .fc-more-popover .fc-popover-body >.fc-daygrid-event-harness{margin-bottom:5px;}
.fc .fc-more-popover .fc-popover-body >.fc-daygrid-event-harness >.fc-event{width:180px; height:25px; text-indent: 0;}
.fc .fc-more-popover .fc-popover-body >.fc-daygrid-event-harness >.fc-event >.fc-daygrid-event-dot{margin-right:5px;}
.fc .fc-cell-shaded, .fc .fc-day-disabled{display: block; background-color: #fff;}

/* 달력 more */
.fc .fc-daygrid-day-bottom{display: block; width:100%; height:100%; position: absolute; left:0; top:0; font-size:0; margin:0; z-index: 99;}
.fc-direction-ltr .fc-daygrid-more-link{width:100%; height:100%;margin:0; padding:0; cursor: pointer;}

/* hover 초기화 */
.fc-daygrid-dot-event.fc-event-mirror, .fc-daygrid-dot-event:hover{background-color:transparent}
.fc-direction-ltr .fc-daygrid-more-link:hover{background-color:transparent;}
#main-f1::after{content:''; display: block; width:100%; height:725px; background-color:#EFF3FC; position: absolute; left:0; top:0; z-index: -1;}

#main-f2 h2{text-align: center; font-size:2.2rem; padding-bottom:10px;}
#main-f2 > span{display:block; text-align: center; color:#929292; padding-bottom:20px;}
#main-f2 .tab_content{width: 100%; max-width:1900px; margin:0 auto;}
.tab_content .buttons{width:570px; margin:0 auto 55px; border:1px solid #E1E1E1; border-radius: 20px; overflow: hidden; font-size: 0; line-height: 0; box-sizing: content-box;}
.tab_content .buttons .tab_btn{ width:calc(100% / 6 ); padding:12px 0; text-align: center; border-right: 1px solid #E1E1E1;}
.tab_content .buttons .tab_btn:nth-child(6){border:0;}
.tab_content .buttons .tab_btn.active{background-color: var(--main-color); color:#fff;}

.tab_content .tabs .tab{display: none;}
.tab_content .tabs .tab.active{display: block;}

.tab_content .tabs .tab .tab_slider{padding-bottom:60px;}
.tab_slider .slick-list{padding:5px 0;}
.tab_slider .item{display: block; padding:0 15px;}
.tab_slider .item .item_inner{
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(235, 235, 235, 0.8);
    border:1px solid #eee;
    position: relative;
    overflow: hidden;
}
.tab_slider .item:focus{outline:0;}
.tab_slider .item:focus .item_inner{border:1px solid #333;}
.tab_slider .item .marks{display: inline-block; padding:10px; color:#fff; text-align: center; background-color: #547C3E;  position: absolute; left:0px; top:0px; z-index: 999; font-size: 0; line-height: 0;}
.tab_slider .item .marks::after{
    content: '';
    height: 0;
    width: 0;
    background-color: transparent;
    border-top: 22px solid transparent;
    border-right: 31px solid transparent;
    border-left: 31px solid transparent;
    border-bottom: 22px solid transparent;
    position: absolute;
    left:1px;
    bottom: -44px;
}
/* 당진:dj, 서산 : ss, 보령:br, 태안:tan,천안:cn, 공주:gj, 아산:as,논산:ns,계룡:gry, 금산:gs,부여:by, 서천:sch, 청양:cy, 홍성:hs, 예산ys,*/
.tab_slider .item .marks.dj{background-color: #547C3E;}
.tab_slider .item .marks.dj::after{border-top: 22px solid #547C3E;}
.tab_slider .item .marks.ss{background-color: #F28D01;}
.tab_slider .item .marks.ss::after{border-top: 22px solid #F28D01;}
.tab_slider .item .marks.br{background-color: #725A94;}
.tab_slider .item .marks.br::after{border-top: 22px solid #725A94;}
.tab_slider .item .marks.tan{background-color: #E1658A;}
.tab_slider .item .marks.tan::after{border-top: 22px solid #E1658A;}

.tab_slider .item .marks >span{display: inline-block; font-size:12px; line-height:15px;}
.tab_slider .item .marks >p{font-size:16px; font-weight: 700; line-height: 20px;}
.tab_slider .item .img_box{height: 216px;}
.tab_slider .item .img_box >img{width:100%; height:100%; object-fit:cover;}
.tab_slider .item .txt_box{padding:20px;}
.tab_slider .item .txt_box >h4{width:100%; font-size: 1.2em; padding-bottom:15px;  white-space: nowrap; overflow: hidden;}
.tab_slider .item .txt_box li{width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.tab_slider .item .txt_box li >span{ color:#929292; font-size:0.9em;}
.tab_slider .item .txt_box li >span:nth-child(1){display: inline-block; width:65px; padding-right:6px; box-sizing: content-box; position: relative;}
.tab_slider .item .txt_box li >span:nth-child(1)::after{content:':'; display: inline-block; padding-right:6px; position: absolute; right:0; top:50%; transform: translateY(-50%); }

.tab_slider .tab-dots{width:100%; position: absolute; left:0; bottom:10px; display: flex; align-items: center;
    justify-content: center; gap:5px;}
.tab_slider .tab-dots li button{
    font-size:0;
    line-height: 0;
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color:#E2E2E2;
}
.tab_slider .tab-dots li:nth-child(1){margin-left:0;}
.tab_slider .tab-dots li.slick-active button{background-color:var(--main-color);}

.tabArrows{max-width:1400px; height:50px; margin:0 auto; position: relative;}
.tabArrows .tabPrev{width:50px; height:20px; background-color:pink; position: absolute; top:0; left:0;}
.tabArrows .tabNext{width:50px; height:20px; background-color:pink; position: absolute; top:0; right:0;}

#main-f3{background-color: #F7F7F7; padding:65px 0;}
#main-f3 >.inner{display: flex; justify-content: space-between; align-items: stretch;}
#main-f3 >.inner h3{font-size:20px; padding-top:10px; padding-bottom:30px;}
#main-f3 .cont1{width:510px;}
#main-f3 .cont1 .cont_inner{padding-right:20px;}
.cont1 .cont_inner ul{overflow: hidden;}
.cont1 .cont_inner li{display: flex; align-items: center; justify-content: flex-start; margin-bottom:20px;}
.cont1 .cont_inner li .img_box{display: inline-block; width:55px; height:55px; border-radius: 50%; overflow: hidden; position: relative; background-color:#E1658A; margin-right: 15px;;}
.cont1 .cont_inner li .img_box >img{width:100%; height:100%; object-fit:cover; }
.cont1 .cont_inner li .txt_box{max-width:calc(100% - 70px); position: relative; border-radius: 15px; padding:15px 20px; background-color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#main-f3 .cont2{width:795px; position: relative;}
.cont2 .tab_box .tap_tit{position: absolute; right:0; top:0; overflow: hidden;}
.cont2 .tap_tit li{margin-right:10px; float: left;}
.cont2 .tap_tit li a{width:47px; height:47px; border-radius:50%; border:1px solid #B7B7B7;}
.cont2 .cont_box .tab_inner{display: flex; justify-content: space-between; gap:20px;}
.cont2 .cont_box li{width:50%}
.cont2 .cont_box li a{width:100%;}
.cont2 .cont_box li a .img_box{height: 220px; background-color:#725A94}
.cont2 .cont_box li a .img_box img{width:100%; height:100%; object-fit: cover;}
.cont2 .cont_box li a .tit_box{padding-top:20px;}
.cont2 .cont_box li a .tit_box h4{font-weight: 400; font-size:1.3em}
.cont2 .cont_box li a .tit_box p{color:var(--main-color); font-size:0.9em;}