@media screen and (max-width : 1400px) {
    /* #main-f1 .bott_cont  */
    #main-f1 .bott_cont{flex-wrap: wrap; gap:20px;}
    #main-f1 .bott_cont > div{width:calc(50% - 10px);}
    #main-f1 .bott_cont .cont_b1{width:100%}
    #main-f1 .bott_cont .cont_b3{height:auto;}

    /* 지원가능한 청년지원사업 */
    /* tab_content */
    .tabArrows{max-width:90%;}
}

@media screen and (max-width : 1024px){
    /* main-f1 */
    .top_cont{flex-direction: column; gap: 30px;}
    .top_cont .l_cont{width:100%; height:250px;}
    .top_cont .r_cont{width: 100%;}
    /* main-f2 */
    .tab_slider .item{padding:0 10px;}
}

@media screen and (max-width : 960px){
    #main-f1 .bott_cont > div{width: 100%;}
    /* main-f3 */
    #main-f3 >.inner{flex-direction: column; gap:30px;}
    #main-f3 .cont1{width:100%;}
    #main-f3 .cont2{width: 100%;}
}

@media screen and (max-width : 640px){
    /* main-f1 */
    .r_cont .tit{flex-wrap: wrap;}
    .r_cont .tit >h3{width:100%;}
    /* 지원가능한 청년지원사업 */
    /* main-f2 */
    #main-f2 h2{font-size:1.7em;}
    #main-f2 > span{font-size:0.9em;}
    .tab_slider .item{padding:0 5px;}
    .tab_slider .item .img_box{height:190px;}
    .tab_slider .item .txt_box{padding:20px 10px;}
    .tab_content .buttons{width:95%;}
}
@media screen and (max-width : 430px){
    /* 지원가능한 청년지원사업 */
    /* main-f2 */
    .tab_slider .item .txt_box >h4{font-size:1em; padding-bottom:10px;}
    .tab_slider .item .txt_box li >span{font-size:0.8em;}
    /* main-f3 */
    #main-f3 .cont1 .cont_inner{padding-right:0;}
    #main-f3 .cont1 .cont_inner li .txt_box{ overflow: hidden;}
    /* 충남 sns 소식 */
    .cont2 .tab_box .tap_tit{position:static; padding-bottom:20px;}
    .cont2 .cont_box .tab_inner{gap:15px;}
    .cont2 .cont_box li a .tit_box h4{font-size:1.1em;}
    .cont2 .cont_box li a .tit_box p{font-size:0.8em;}
    
}
@media screen and (max-width : 380px){
    /* main-f2 */
    .tab_content .buttons{margin-bottom:38px;}
    .tab_content .tabs .tab .tab_slider {padding-bottom:40px;}
    .tab_slider .item .txt_box >h4{font-size:1.1em;}
    .tab_slider .item .txt_box li >span{font-size:0.9em;}
    
    /* main-f3 충남청년 커뮤니티 최신글 */
    
}
